.headlines {
  position: relative;
  min-height: calc(100vh - 133px);
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  .hero {
    display: flex;
    align-items: flex-end;
  }
  &-list {
    margin-top: 20px;
  }
  &-error {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #666;
  }
  @media only screen and (max-width: 480px) {
    .hero {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
