:root {
  --link-color: #3366cc
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: calc(100vh - 90px);
}

.hero {
  margin: 0;
  font-size: 28px;
  color: #333;
}
