:root {
  --link-color: #3366cc;
  --font: "-apple-system, BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

ol,
ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--font);
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: calc(100vh - 90px);
}

.hero {
  margin: 0;
  font-size: 28px;
  color: #333;
}
